@font-face { font-family: ARCADE_N; src: url('../../../../assets/fonts/ARCADE_N.TTF'); } 

body{
    /* background-image: "../../../assets/images/fondo.jpg"; */
    background: url("../../../../assets/images/fondo.png");
    background-position: center;
    background-size: cover fixed;
    background-attachment: fixed;
    height: 100vh;
}


h1{
    color: whitesmoke;
    text-align: center;
    padding-top: 21px;
    font-family: ARCADE_N;
    
}

p{
    color: whitesmoke;
    padding-top: 11px;
    font-family: ARCADE_N;
    
}


.btn{

    justify-content: center;
    
}


.divImg:hover{
    
    transform: scale(1.1);
}

.general{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 50px; */

}
.flexTabla{
    height: fit-content;
    display: flex;
   /* flex-direction: row !important; */
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-self: flex-start;
    max-height: fit-content;
 
}

.imagen{
    
    
    /* opacity:0;    -> transparency 50%    */
    
}

.divImg{
    background-color: rgba(43, 43, 43, 0.925);
    object-fit: cover; margin: 8px 0px;
}