<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de Juegos</title>
</head>

<body>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="fondito">
            <br><br>
            <h1>Piedra, Papel o Tijera</h1>

            <!-- <button class='btn btn-primary' type="button" (click)='ingresar()'> Ingresar </button>
            <button class='btn btn-primary' type="button" (click)='ingresarquien()'> Quien Soy </button> -->
            <br><br>
            <div class="general">
            <div class="flexTabla">


                <div class="tabla row">

                    <div class="col-md-6">
                        <p>TU OPCION!!</p>
                        <img class="imagen" _ngcontent-hpq-c34="" value="piedra" (click)="jugar('piedra')"
                            src="../../../assets/images/piedra.jpg" alt="..." width="150" height="110">
                    </div>
                    <div class="col-md-6">
                        <p>PC OPONENTE</p>
                        <img _ngcontent-hpq-c34="" src="../../../assets/images/piedra2.jpg" alt="..." width="150"
                            height="110">
                    </div>
                    <!-- <td class="col-md-6" rowspan="3"> </td> -->
                </div>
                <div class="tabla row">
                    <div class="col-md-6">
                        <img class="imagen" _ngcontent-hpq-c34="" value="papel" (click)="jugar('papel')"
                            src="../../../assets/images/papel.jpg" alt="..." width="150" height="110">
                    </div>
                    <div class="col-md-6"><img _ngcontent-hpq-c34="" src="../../../assets/images/papel2.jpg"
                            alt="..." width="150" height="110"></div>
                    <!-- <td class="col-md-6"></td> -->
                </div>
                <div class="tabla row">
                    <div class="col-md-6"><img class="imagen" _ngcontent-hpq-c34="" value="tijera"
                            (click)="jugar('tijera')" src="../../../assets/images/tijera.jpg" alt="..." width="150"
                            height="110"></div>
                    <div class="col-md-6"><img _ngcontent-hpq-c34="" src="../../../assets/images/tijera2.jpg"
                            alt="..." width="150" height="110"></div>
                    <!-- <td class="col-md-6"></td> -->
                </div>

            </div>
            <div class="chat" width="60">
                <app-chat></app-chat>              
                

            </div>
            
        </div>
        </div>
    </div>
</body>

</html>