<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de Juegos</title>
</head>

<body>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="fondito">
            <br><br>
            <h1>Piedra, Papel o Tijera</h1>

            <!-- <button class='btn btn-primary' type="button" (click)='ingresar()'> Ingresar </button>
            <button class='btn btn-primary' type="button" (click)='ingresarquien()'> Quien Soy </button> -->
                <br><br>
                <div class="tabla row" >
                    <div class="col-6 col-md-4"><img
                        _ngcontent-hpq-c34="" src="../../../assets/images/piedra.jpg" alt="..." width="150"
                        height="110" ></div>
                    <div class="col-6 col-md-4"></div>
                    <div class="col-6 col-md-4"><img
                        _ngcontent-hpq-c34="" src="../../../assets/images/piedra2.jpg" alt="..." width="150"
                        height="110" ></div>
                  </div>
                  <div class="tabla row">
                    <div class="col-6 col-md-4"><img
                        _ngcontent-hpq-c34="" src="../../../assets/images/papel.jpg" alt="..." width="150"
                        height="110" ></div>
                    <div class="col-6 col-md-4"></div>
                    <div class="col-6 col-md-4"><img
                        _ngcontent-hpq-c34="" src="../../../assets/images/papel2.jpg" alt="..." width="150"
                        height="110" ></div>
                  </div>
                  <div class="tabla row">
                    <div class="col-6 col-md-4"><img
                        _ngcontent-hpq-c34="" src="../../../assets/images/tijera.jpg" alt="..." width="150"
                        height="110" ></div>
                    <div class="col-6 col-md-4"></div>
                    <div class="col-6 col-md-4"><img
                        _ngcontent-hpq-c34="" src="../../../assets/images/tijera2.jpg" alt="..." width="150"
                        height="110" ></div>
                  </div>

                <!-- <table>
                    <td>

                        <tr class="v-line">
                            <img
                            _ngcontent-hpq-c34="" src="../../../assets/images/piedra.jpg" alt="..." width="150"
                            height="110" class="card-img-top">
                        </tr>
                        <tr class="v-line">
                            <img
                            _ngcontent-hpq-c34="" src="../../../assets/images/papel.jpg" alt="..." width="150"
                            height="110" class="card-img-top">
                        </tr>
                        <tr>
                            <img
                            _ngcontent-hpq-c34="" src="../../../assets/images/tijera.jpg" alt="..." width="150"
                            height="110" class="card-img-top">
                        </tr>
                    </td>
                    <td></td>
                    <td>

                        <tr class="v-line">
                            <img
                            _ngcontent-hpq-c34="" src="../../../assets/images/piedra2.jpg" alt="..." width="150"
                            height="110" class="card-img-top">
                        </tr>
                        <tr class="v-line">
                            <img
                            _ngcontent-hpq-c34="" src="../../../assets/images/papel2.jpg" alt="..." width="150"
                            height="110" class="card-img-top">
                        </tr>
                        <tr>
                            <img
                            _ngcontent-hpq-c34="" src="../../../assets/images/tijera2.jpg" alt="..." width="150"
                            height="110" class="card-img-top">
                        </tr>
                    </td>
                </table> -->
            <!-- <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-sm-3 row-cols-sm-4">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div _ngcontent-hpq-c34=""  class="card" tabindex="0" [routerLink]="['/piedrapapeltijera']"
                            ><img
                                    _ngcontent-hpq-c34="" src="../../../assets/images/piedrapapel.jpg" alt="..." width="200"
                                    height="200" class="card-img-top">
                                <div _ngcontent-hpq-c34="" class="card-body">
                                    <h3 _ngcontent-hpq-c34="" class="card-title text-center">Piedra, Papel o Tijera</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div _ngcontent-hpq-c34="" routerlink="/Listado" class="card" tabindex="0" [routerLink]="['/tateti']">
                                <img
                                    _ngcontent-hpq-c34="" src="../../../assets/images/tateti.jpg" alt="..."
                                    class="card-img-top" width="200" height="200">
                                <div _ngcontent-hpq-c34="" class="card-body">
                                    <h3 _ngcontent-hpq-c34="" class="card-title text-center">Ta-Te-Ti</h3>
                                </div>
                            </div>
                    
                        </div>
                    </div> -->
                    <!-- <div class="col">
                        <div class="card shadow-sm">
                            <div _ngcontent-hpq-c34="" routerlink="/Listado" class="card" tabindex="0"><img
                                    _ngcontent-hpq-c34="" src="../../../assets/images/config.png" alt="..." width="200"
                                    height="200" class="card-img-top">
                                <div _ngcontent-hpq-c34="" class="card-body">
                                    <h3 _ngcontent-hpq-c34="" class="card-title text-center">Ajustes</h3>
                                </div>
                            </div>

                            <div class="card-body">
                                <p class="card-text">Aca econtraras los ajuste para inciciar sesion o registrarte, no
                                    sigas eperando para empezar a marcar records.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div _ngcontent-hpq-c34="" routerlink="/Listado" class="card" tabindex="0"><img
                                    _ngcontent-hpq-c34="" src="../../../assets/images/jugadores (2).png" alt="..."
                                    width="200" height="200" class="card-img-top">
                                <div _ngcontent-hpq-c34="" class="card-body">
                                    <h3 _ngcontent-hpq-c34="" class="card-title text-center">Jugadores</h3>
                                </div>
                            </div>

                            <div class="card-body">
                                <p class="card-text">Lista de los mejores jugadores. Mejora tu marca y no pierdas el
                                    ritmo, compara resultados ys segui superandote.</p>

                            </div>
                        </div>
                    </div> -->


                <!-- </div>
            </div> -->
        </div>
    </div>
</body>

</html>