<app-navbar></app-navbar>
<body>
    

<div class="container">
    <form [formGroup]="forma" (ngSubmit)="aceptar()">

        <div class="row">
            <div class="col-md-12 mb-5">
                <h1>comentanos tu experiencia</h1>
            </div>
        </div>
        <div class="row formulario">
            <div class="col-md-6 mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre"
                    formControlName="nombre">
                <small class="invalid" *ngIf="forma.get('nombre')?.errors?.required && forma.get('nombre')?.touched">El
                    nombre es requerido</small>
                <small class="invalid"
                    *ngIf="forma.get('nombre')?.errors?.contieneEspacios && forma.get('nombre')?.touched">El nombre no
                    debe tener espacios</small>
            </div>
            <div class="col-md-6 mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido"
                    formControlName="apellido">
                <small class="invalid"
                    *ngIf="forma.get('apellido')?.errors?.required && forma.get('apellido')?.touched">El apellido es
                    requerido</small>
            </div>
            <div class="col-md-6 mb-3">
                <label for="edad" class="form-label">Edad</label>
                <input type="number" class="form-control" id="edad" placeholder="Ingrese edad" formControlName="edad">
                <small class="invalid" *ngIf="forma.get('edad')?.errors?.required && forma.get('edad')?.touched">La edad
                    es requerida</small>
                <small class="invalid"
                    *ngIf="forma.get('edad')?.errors?.min || forma.get('edad')?.errors?.max && forma.get('edad')?.touched">La
                    edad debe ser 18-99 años</small>
            </div>
            <div class="col-md-6 mb-3">
                <label for="edad" class="form-label">Número de Télefono</label>
                <input maxlength="10" type="tel" class="form-control" id="telefono"
                    placeholder="Ingrese número de télefono" formControlName="telefono">
                <small class="invalid"
                    *ngIf="forma.get('telefono')?.errors?.required && forma.get('telefono')?.touched">El Número de
                    Télefono es requerido</small>
                <small class="invalid"
                    *ngIf="forma.get('telefono')?.errors?.pattern && forma.get('telefono')?.touched">Debe ingresar solo
                    números.</small>

            </div>
            <div class="col-md-6 mb-3">
                <label for="sexo" class="form-label">¿Que juego disfrutaste más?</label>
                <select class="form-select" id="sexo" formControlName="sexo">
                    <option value="">Seleccione uno</option>
                    <option value="Tateti">Ta-Te-Ti</option>
                    <option value="Memotest">Memotest</option>
                    <option value="x">Juego x</option>
                    <option value="piedrapapel">Piedra, papel o tijera</option>
                </select>
                <small class="invalid" *ngIf="forma.get('sexo')?.errors?.required && forma.get('sexo')?.touched">El
                    juego es requerido</small>
            </div>
            <div class="form-check">
            <label for="recomendacion" class="form-label">¿A quién le recomendarías la página?</label>
            <ul class="recomendacion list-group">
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Amigos
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Familia
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Conocidos
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Compañeros de estudio
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Nadie
                </li>
            </ul>
            
            </div>
            <div class="col-md-12 mb-5">
                <label for="email" class="form-label">Dejanos tu comentario!</label>
                <input type="text" class="form-control" id="email" placeholder="Ingrese su comentario"
                    formControlName="email">
          <small class="invalid" *ngIf="forma.get('email')?.errors?.required && forma.get('email')?.touched">El cometario es requerido</small>
          <small class="invalid" *ngIf="forma.get('email')?.errors?.email && forma.get('email')?.touched">El formato es invalido</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="terminos" formControlName="terminos">
            <label for="recordar" class="form-check-label" for="terminos">
              Aceptar términos y condiciones
            </label>
          </div>
        </div>
        <div class="col-md-12 d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="forma.invalid" (click)='aceptar()'>
            Aceptar
          </button>
        </div>
      </div>
    </form>
  </div>
</body>