<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de Juegos</title>
</head>

<body>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="fondito">
            <br><br>
            <h1>Sala de Juegos!</h1>

            <!-- <button class='btn btn-primary' type="button" (click)='ingresar()'> Ingresar </button>
            <button class='btn btn-primary' type="button" (click)='ingresarquien()'> Quien Soy </button> -->
                <br><br>
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-sm-3 row-cols-sm-4">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div _ngcontent-hpq-c34=""  class="card" tabindex="0" [routerLink]="['/menu/piedrapapeltijera']"
                            ><img
                                    _ngcontent-hpq-c34="" src="../../../assets/images/piedrapapel.jpg" alt="..." width="200"
                                    height="200" class="card-img-top">
                                <div _ngcontent-hpq-c34="" class="card-body">
                                    <h3 _ngcontent-hpq-c34="" class="card-title text-center">Piedra, Papel o Tijera</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div _ngcontent-hpq-c34="" routerlink="/Listado" class="card" tabindex="0" [routerLink]="['/menu/tateti']">
                                <img
                                    _ngcontent-hpq-c34="" src="../../../assets/images/tateti.jpg" alt="..."
                                    class="card-img-top" width="200" height="200">
                                <div _ngcontent-hpq-c34="" class="card-body">
                                    <h3 _ngcontent-hpq-c34="" class="card-title text-center">Ta-Te-Ti</h3>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div _ngcontent-hpq-c34="" routerlink="/Listado" class="card" tabindex="0" [routerLink]="['/menu/memotest']">
                                <img
                                    _ngcontent-hpq-c34="" src="../../../../assets/images/memotest.webp" alt="..."
                                    class="card-img-top" width="200" height="200">
                                <div _ngcontent-hpq-c34="" class="card-body">
                                    <h3 _ngcontent-hpq-c34="" class="card-title text-center">Memotest</h3>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>