<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">Veni a jugar!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li *ngIf="usuarioActivo == ''" class="nav-item">
            <a class="nav-link active" [routerLink]="['/login']" aria-current="page">Ingresar</a>
          </li>
          <li *ngIf="usuarioActivo == ''" class="nav-item">
            <a class="nav-link active" [routerLink]="['/registro']" aria-current="page">Registrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/quiensoy']" aria-current="page">Quien Soy</a>
          </li>
          <li *ngIf="usuarioActivo != ''" class="nav-item">
            <button class="btn btn-outline-dark nav-link active" [routerLink]="['/encuesta']" aria-current="page">Danos tu Opinión</button>
          </li>    
          <li *ngIf="usuarioActivo != ''" class="nav-item">
            <button class="btn btn-outline-dark nav-link active" (click)="cerrarSesion()" aria-current="page">Salir</button>
          </li>  
              
         
        </ul>
        <span *ngIf="usuarioActivo != ''"  class="navbar-text">
          Usuario logeado: {{usuarioActivo}}
        </span>
        
      </div>
    </div>
  </nav>
